<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=ControlSoderia; Integrated Security=true"/>
  </connectionStrings>
    <!--<connectionStrings>

        <add name="ControlSoderia.Properties.Settings.ControlSoderiaConnectionString1"
            connectionString="Data Source=rodrigo;Initial Catalog=ControlSoderia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>